
$('#notifications-wrapper').html('<div id="notifications"></div> <a class="dropdown-item waves-effect waves-light" data-remote="true" rel="nofollow" data-method="post" href="/mark_as_read"><button class="mark-as-complete-button btn-1">Mark as read</button></a>');
$('#notification-count').html('');