
      <%= render  "shared/navbar" %>

  <div class="user-earning">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Payout method</h2>

          <div class="user-earing-item user-earing-withdraw">
            <%= form_with url: update_payout_path, local: true do |f| %>
              <div class="form-group mb-2">
                <h5>Update your PayPal account</h5>
              </div>
              <div class="form-group ml-4 mr-3 mb-2  w-50">
                <%= f.text_field :paypal, value: current_user.paypal, placeholder: "Your Paypal Email", class: "form-control" %>

              </div>
              <button type="submit" class="btn c-btn mb-2">Save</button>

            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h2>Contact Info</h2>
          <ul>
            <li>Phone: 125 1254 1245</li>
            <li>Email: demo@gmail.com</li>
            <li>Address: 24 kda New York, US</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Useful link</h2>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Others link</h2>
          <ul>
            <li><a href="#">Rewards club</a></li>
            <li><a href="#">Contact us via app</a></li>
            <li><a href="#">Customer service</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Business</h2>
          <ul>
            <li><a href="#">Partner directory</a></li>
            <li><a href="#">Become a partner</a></li>
            <li><a href="#">Business support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
