
  <%= render  "shared/navbar" %>


  <div class="privacy-policy">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="c-shadow">
            <h2>Bizlution's Privacy Policy</h2>
            <strong>Last Update: November 2020</strong>
            <p>Bizlution AB Terms of Service

Welcome to bizlution.com
 
The following terms of service (these "Terms of Service"), govern your access to and use of the Bizlution website, including any content, functionality and services offered on or through www.bizlution.com (the "Site") by Bizlution AB. (Kalvhagen 7, 42750, Gothenburg, Sweden) Bizlution AB are onwards referred to as "bizlution" "we" or "us".
 
Please read the Terms of Service carefully before you start to use the Site. By using the Site, opening an account or by clicking to accept or agree to the Terms of Service when this option is made available to you, you accept and agree, on behalf of yourself or on behalf of your employer or any other entity (if applicable), to be bound and abide by these Terms of Service and our Privacy Policy, found here, each of which is incorporated herein by reference. If you do not want to agree to these Terms of Service or the Privacy Policy, you must not access or use the Site. For more detailed policies surrounding the activity and usage on the Site, please access the designated articles herein.
This Site is offered and available to users who are 13 years of age or older. If you are under 13 you may not use this Site or the Bizlutionservices. By using this Site, you represent and warrant that you are of legal age to form a binding contract and meet all of the foregoing eligibility requirements. If you do not meet all of these requirements, you must not access or use the Site.
Our Customer Support team is available 24/7 if you have any questions regarding the Site or Terms of Service. Contacting our Customer Support team can be performed by submitting a request here.
The original language of these Terms of Service, as well as all other texts throughout the Site, is English. Bizlution makes available translations for convenience only. In case of conflicts between the original English version and any translation, the English version shall prevail.
Key Terms
Buyers are users who purchase services on bizlution.
Sellers are users who sell services on bizlution
Custom Offers are exclusive proposals that a Seller can create in response to specific requirements of a Buyer.
Custom Orders are requests made by a Buyer to receive a Custom Offer from a Seller.
Order Page is where Buyers and Sellers communicate with each other in connection with an ordered service.
Orders are the formal agreement between a Buyer and Seller after a purchase was made. 
Overview (Main terms, in a nutshell)
Only registered users may buy and sell on bizlution. Registration is free.
Buyers pay Bizlution in advance to create an order
Orders are purchased through the Order button found on a posted offer or through a Custom Offer.
For fees and payments please read the Payment Terms
Sellers must fulfill their orders, and may not cancel orders on a regular basis or without cause. Cancelling orders will affect Sellers’ reputation and status.
Sellers gain account statuses (Levels) based on their performance and reputation. Advanced levels provide their owners with benefits
Users may not offer or accept payments using any method other than placing an order through bizlution.com.
When purchasing a service, Buyers are granted all rights for the delivered work, unless otherwise specified by the Seller on their offer page. 
Bizlution retains the right to use all publically published delivered works for Bizlution marketing and promotion purposes.
We care about your privacy. You can read our Privacy Policy here. The Privacy Policy is a part of these Terms of Service and incorporated herein by reference.
SELLERS
Basics
Sellers create offers on Bizlution to allow Buyers to purchase their services.
Sellers may also offer Custom Offers to Buyers in addition to their posted offers.
Each Gig you sell and successfully complete, accredits your account with a net revenue of 97,5% of the purchase amount.
Bizlution accredits Sellers once an order is completed. See our "Orders" section below for a definition of a completed order.
Sellers may not promote their Gigs or any Bizlution content via the Google Ads platform.
The Seller's rating is calculated based on the order reviews posted by Buyers. High ratings allow Sellers to obtain advanced Seller levels (see Levels below). In certain cases, exceedingly low ratings may lead to the suspension of the Seller’s account.
For security concerns, Bizlution may temporarily disable a Seller’s ability to withdraw revenue to prevent fraudulent or illicit activity. This may come as a result of security issues, improper behavior reported by other users, or associating multiple Bizlution accounts to a single withdrawal provider.
Sellers are responsible for obtaining a general liability insurance policy with coverage amounts that are sufficient to cover all risks associated with the performance of their services.
Offerings
Offers created on Bizlution are User Generated Content.
Offers and/or users may be removed by Bizlution from the Site for violations of these Terms of Service, which may include (but are not limited to) the following violations and/or materials:
Illegal or Fraudulent services
Copyright Infringement, Trademark Infringement, and violation of a third party's terms of service reported through our Intellectual Property Claims Policy found here
Adult oriented services, Pornographic, Inappropriate/Obscene
Intentional copies of offers
Spam, nonsense, or violent or deceptive offers
Offers misleading to Buyers or others
Reselling of regulated goods
Offering to prepare academic works on behalf of Buyers
Services that extend beyond 30 days of service duration
Exceedingly low quality services
Promoting Bizlution and/or Bizlution offers through activities that are prohibited by any laws, regulations, and/or third parties' terms of service, as well as through any marketing activity that negatively affects our relationships with our users or partners.
Offers/Services that are removed for violations mentioned above, may result in the suspension of the Seller’s account.
Offers that are removed for violations are not eligible to be restored or edited.
Offers may be removed from our Search feature due to poor performance and/or user misconduct.
Offers may include pre-approved website URLs contained within the offer description and requirements box. Offers containing websites promoting content, which violates bizlution’s Terms of Service and, will be removed.
Offers are required to have an appropriate offer image related to the service offered. An option to upload two additional offer images are available to all Sellers. Sellers must deliver the same quality of service as shown on their offer images. Recurring deliveries that don’t match the quality shown on the offer images may lead to the Seller’s account losing Seller status or becoming permanently disabled.
Statements on the offer Page that undermine or circumvent these Terms of Service is prohibited.
Shipping Physical Deliverables
Some of the services on Bizlutionare delivered physically (arts and crafts, collectable items, etc.). For these types of services, Sellers may decide to add shipping charges. Sellers can add shipping charges for local shipping (within the same country) and for international shipping (anywhere else).
services that include shipping costs must have physical deliverables sent to Buyers.
Shipping costs added to a service only pertains to the cost Sellers require to ship physical items to Buyers.
Important: Buyers who purchase services that require physical delivery, will be asked to provide a shipping address.
Sellers are responsible for all shipping arrangements once the Buyer provides the shipping address.
Bizlution does not handle or guarantee shipping, tracking, quality, and condition of items or their delivery and shall not be responsible or liable for any damages or other problems resulting from shipping.
A tracking number is a great way to avoid disputes related to shipping. We require entering the tracking number if available in the Order Page when delivering your work.
BUYERS
Basics
You may not offer direct payments to Sellers using payment systems outside of the Bizlutionplatform.
Bizlution retains the right to use all publicly published delivered works for Bizlution marketing and promotional purposes.
Buyers may request a specific service by posting an request. Users should refrain from using the Post a Request feature for any purpose other than looking for services on bizlution.
Purchasing
You may not offer Sellers to pay, or make payment using any method other than through the bizlution.com site. In case you have been asked to use an alternative payment method, please report it immediately to Customer Support.
ORDERS
Basics
Once payment is confirmed, your order will be created and given a unique Bizlution order number (#).
Sellers must deliver completed files and/or proof of work using the Deliver Work button (located on the Order page) according to the service that was purchased and advertised on their offer.
The Deliver Work button may not be abused by Sellers to circumvent Order guidelines described in these Terms of Service. Using the “Deliver Work” button when an Order was not fulfilled may result in a cancellation of that Order after review, affect the Seller’s rating and result in a warning to Seller.
An Order is marked as Complete after it is marked as Delivered and then accepted by a Buyer. An Order will be automatically marked as Complete if not accepted and no request for modification was submitted within 3 days after the Order was marked as Delivered.
We encourage our Buyers and Sellers to try and settle conflicts amongst themselves. If for any reason this fails after using the Resolution Center or if you encounter non-permitted usage on the Site, users can contact bizlution's Customer Support department for assistance. 
Handling Orders
When a Buyer orders a service, the Seller is notified by email as well as notifications on the site while logged into the account.
Sellers are required to meet the delivery time they specified when creating their offer. Failing to do so will allow the Buyer to cancel the Order when an Order is marked as late and may harm the Seller's status.
Sellers must send completed files and/or proof of work using the Deliver Completed Work button (located on the Order page) to mark the Order as Delivered.
Users are responsible for scanning all transferred files for viruses and malware. Bizlution will not be held responsible for any damages which might occur due to site usage, use of content or files transferred.
Reviews
Feedback reviews provided by Buyers while completing an Order are an essential part of bizlution's rating system. Reviews demonstrate the Buyer's overall experience with the Sellers and their service. Buyers are encouraged to communicate to the Seller any concerns experienced during their active order in regards to the service provided by the Seller.
Leaving a Buyer's feedback is a basic prerogative of a Buyer. Feedback reviews will not be removed unless there are clear violations of our Terms of Service and/or our Community Standards.
To prevent any misuse of our Feedback system, all feedback reviews must come from legitimate sales executed exclusively through the Bizlution platform from users within our Community. Purchases arranged, determined to artificially enhance Seller ratings, or to abuse the Bizlution platform with purchases from additional accounts, will result in a permanent suspension of all related accounts.
Feedback comments given by Buyers are publicly displayed on a Seller’s page.
Withholding the delivery of services, files, or information required to complete the offered service with the intent to gain favorable reviews or additional services is prohibited.
Responding and posting a review: Once work is delivered, the Buyer has three days to respond. If no response is provided within the response period, the Order will be considered completed.
Users are allowed to leave reviews on Orders up to 10 days after an Order is marked as complete. No new reviews may be added to an Order after 10 days.
Sellers may not solicit the removal of feedback reviews from their Buyers through mutual cancellations.
Disputes and Cancellations
We encourage our Buyers and Sellers to try and settle conflicts amongst themselves. If for any reason this fails after using the Resolution Center or if you encounter non-permitted usage on the Site, users can contact bizlution's Customer Support department for assistance.
User Conduct and Protection
Bizlution enables people around the world to create, share, sell and purchase nearly any service they need at an unbeatable value. Services offered on Bizlution reflect the diversity of an expanding Gig economy. Members of the Bizlution community communicate and engage through orders, social media, and on bizlution’s Community Forums.
Bizlution maintains a friendly, community spirited, and professional environment. Users should keep to that spirit while participating in any activity or extensions of bizlution. This section relates to the expected conduct users should adhere to while interacting with each other on bizlution.
To report a violation of our Terms of Service and/or our Community Standards, User Misconduct, or inquiries regarding your account, please contact our Customer Support team.
Basics
To protect our users' privacy, user identities are kept anonymous. Requesting or providing Email addresses, Skype/IM usernames, telephone numbers or any other personal contact details to communicate outside of Bizlution in order to circumvent or abuse the Bizlution messaging system or Bizlution platform is not permitted.
Any necessary exchange of personal information required to continue a service may be exchanged within the Order Page.
Bizlution does not provide any guarantee of the level of service offered to Buyers.
Bizlution does not provide protection for users who interact outside of the Bizlution platform.
All information and file exchanges must be performed exclusively on bizlution's platform.
Rude, abusive, improper language, or violent messages will not be tolerated and may result in an account warning or the suspension/removal of your account.
Bizlution is open to everyone. Discrimination against a community member based on gender, race, age, religious affiliation, sexual preference or otherwise is not acceptable and may result in the suspension/removal of your account.
Users may not submit proposals or solicit parties introduced through Bizlution to contract, engage with, or pay outside of bizlution.
Orders
Users with the intention to defame competing Sellers by ordering from competing services will have their reviews removed or further account status related actions determined by review by our Trust & Safety team.
Users are to refrain from spamming or soliciting previous Buyers or Sellers to pursue removing/modifying reviews or cancelling orders that do not align on Order Cancellation or Feedback policies.
Offerings
Users may report offers to Customer Support that may be in violation of bizlution’s Terms of Service based on the reported offers replicated similarity to pre-existing services (copycat offers).
Sellers warrant that any content included in their offers shall be original work conceived by the Sellers and shall not infringe any third party rights, including, without limitation, copyrights, trademarks or service marks. In the event that certain music or stock-footage media are incorporated within the offers, Sellers represent and warrant that they hold a valid license to use such music and/or footage and to include them in the offers.
Bizlutionwill respond to clear and complete notices of alleged copyright or trademark infringement. 
Reporting Violations
If you come across any content that may violate our Terms of Service, you should report it to us through the appropriate channels created to handle those issues as outlined in our Terms of Service. All cases are reviewed by Bizlution. To protect individual privacy, the results of the investigation are not shared. 
 
Violations
Users may receive a warning to their account for violations of our Terms of Service or any user misconduct reported to Bizlution. A warning will be sent to the user's email address and will be displayed for such user on the Site. Warnings do not limit account activity, but can lead to your account losing Seller statuses or becoming permanently disabled based on the severity of the violation.
Non-Permitted Usage
Adult Services & Pornography - Bizlution does not allow any exchange of adult oriented or pornographic materials and services.
Inappropriate Behavior & Language - Communication on Bizlution should be friendly, constructive, and professional. Bizlution condemns bullying, harassment, and hate speech towards others. We allow users a medium for which messages are exchanged between individuals, a system to rate orders, and to engage on larger platforms such as our Community Forum and Social Media pages.
Phishing and Spam - Members’ security is a top priority. Any attempts to publish or send malicious content with the intent to compromise another member’s account or computer environment is strictly prohibited. Please respect our members' privacy by not contacting them with offers, questions, suggestions or anything which is not directly related to their offers or orders.
Privacy & Identity - You may not publish or post other people's private and confidential information. Any exchange of personal information required for the completion of a service must be provided in the Order Page. Sellers further confirm that whatever information they receive from the Buyer, which is not public domain, shall not be used for any purpose whatsoever other than for the delivery of the work to the Buyer. Any users who engage and communicate off of Bizlution will not be protected by our Terms of Service.
Authentic Bizlution Profile - You may not create a false identity on bizlution, misrepresent your identity, create a Bizlution profile for anyone other than yourself or your company, or use or attempt to use another user’s account or information; Your profile information, including your description, skills, location, etc., while may be kept anonymous, must be accurate and complete and may not be misleading, illegal, offensive or otherwise harmful. Bizlution reserves the right to require users to go through a verification process in order to use the Site (whether by using ID, phone, camera, etc.).
Intellectual Property Claims - Bizlution will respond to clear and complete notices of alleged copyright or trademark infringement, and/or violation of third party’s terms of service. 
Fraud / Unlawful Use - You may not use Bizlution for any unlawful purposes or to conduct illegal activities.
Abuse and Spam
Multiple Accounts - To prevent fraud and abuse, users are limited to one active account. Any additional account determined to be created to circumvent guidelines, promote competitive advantages, or mislead the Bizlution community will be disabled. Mass account creation may result in disabling of all related accounts. Note: any violations of bizlution’s Terms of Service is a cause for permanent suspension of all accounts.
Targeted Abuse - We do not tolerate users who engage in targeted abuse or harassment towards other users on bizlution. This includes creating new multiple accounts to harass members through our message or ordering system.
Selling Accounts - You may not buy or sell Bizlution accounts.
Proprietary Restrictions
The Site, including its general layout, design and content, is exclusively owned by Bizlution and protected by copyright and trademark law. Users have no right, and specifically agree not to do the following with respect to the Site or any part, component or extension of the Site: (i) copy, transfer, adapt, modify, distribute or reproduce it, in any manner; (ii) reverse assemble, decompile, reverse engineer or otherwise attempt to derive its source code, underlying ideas, algorithms, structure or organization; (iii) modify or create derivative works; (iv) remove any copyright notice, identification or any other proprietary notices, or; (v) use the Site in any manner that could damage, disable, overburden or impair the Site, or interfere with any other users’ enjoyment of the Site. Users also agree not to permit or authorize anyone else to do any of the foregoing.
Feedback Rights
To the extent that you provide Bizlution with any comments, suggestions or other feedback regarding the Bizlution platform or the Site as a whole, as well as other Bizlution products or services (collective, the “Feedback”), you will be deemed to have granted Bizlution an exclusive, royalty-free, fully paid up, perpetual, irrevocable, worldwide ownership rights in the Feedback. Bizlution is under no obligation to implement any Feedback it may receive from users.
Confidentiality
Sellers should recognize that there might be a need for Buyers to disclose certain confidential information to be used by Sellers for the purpose of delivering the ordered work, and to protect such confidential information from unauthorized use and disclosure. Therefore, Sellers agree to treat any information received from Buyers as highly sensitive, top secret and classified material. Without derogating from the generality of the above, Sellers specifically agree to (i) maintain all such information in strict confidence; (ii) not disclose the information to any third parties; (iii) not use the information for any purpose except for delivering the ordered work; and (vi) not to copy or reproduce any of the information without the Buyer’s permission.
General Terms
Bizlution reserves the right to put any account on hold or permanently disable accounts due to breach of these Terms of Service and/or our Community Standards or due to any illegal or inappropriate use of the Site or services.
Violation of bizlution's Terms of Service and/or our Community Standards may get your account disabled permanently.
Users with disabled accounts will not be able to sell or buy on bizlution.
Users who have violated our Terms of Service and had their account disabled may contact our Customer Support team for more information surrounding the violation and status of the account.
Users have the option to enable account Security features to protect their account from any unauthorized usage.
Users must be able to verify their account ownership through Customer Support by providing materials that prove ownership of that account.
Bizlution may make changes to its Terms of Service from time to time. When these changes are made, Bizlutionwill make a new copy of the terms of service available on this page.
You understand and agree that if you use Bizlution after the date on which the Terms of Service have changed, Bizlution will treat your use as acceptance of the updated Terms of Service.
User Generated Content
User Generated Content ("UGC") refers to the content added by users as opposed to content created by the Site. All content uploaded to Bizlution by our users (Buyers and Sellers) is User Generated Content. Bizlution does not check user uploaded/created content for appropriateness, violations of copyright, trademarks, other rights or violations and the user uploading/creating such content shall be solely responsible for it and the consequences of using, disclosing, storing, or transmitting it. By uploading to, or creating content on, the Bizlution platform, you represent and warrant that you own or have obtained all rights, licenses, consents, permissions, power and/or authority, necessary to use and/or upload such content and that such content or the use thereof in the Site does not and shall not (a) infringe or violate any intellectual property, proprietary or privacy, data protection or publicity rights of any third party; (b) violate any applicable local, state, federal and international laws, regulations and conventions; and/or (c) violate any of your or third party’s policies and/or terms of service. We invite everyone to report violations together with proof of ownership as appropriate. Reported violating content may be removed or disabled.
Furthermore, Bizlution is not responsible for the content, quality or the level of service provided by the Sellers. We provide no warranty with respect to the services, their delivery or any communications between Buyers and Sellers. We encourage users to take advantage of our rating system, our community and common sense in choosing appropriate services.
By offering a service, the Seller undertakes that he/she has sufficient permissions, rights and/or licenses to provide, sell or resell the service that is offered on bizlution. Sellers advertising online their offer must comply with laws and terms of service of the advertising platform or relevant website used to advertise. Failing to do so may result in removal of the offer, and may lead to the suspension of Seller's account.
Ownership
Ownership and limitations: When purchasing a service on bizlution, unless clearly stated otherwise on the Seller's offer page/description, when the work is delivered, and subject to payment, the Buyer is granted all intellectual property rights, including but not limited to, copyrights for the work delivered from the Seller, and the Seller waives any and all moral rights therein. All transfer and assignment of intellectual property to Buyer shall be subject to full payment for the services and the delivery may not be used if payment is cancelled for any reason. Furthermore, users (both Buyers and Sellers) agree that unless they explicitly indicate otherwise, the content users voluntarily create/upload to bizlution and that becomes publicly available, including offer texts, photos, videos, usernames, user photos, user videos and any other information, including the display of delivered work, may be used by Bizlution for marketing and/or other purposes.
Disclaimer of Warranties
YOUR USE OF THE SITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE SITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER BIZLUTION NOR ANY PERSON ASSOCIATED WITH BIZLUTION MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE WEBSITE.
THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
Limitation on Liability
IN NO EVENT WILL BIZLUTION, ITS AFFILIATES OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE WEBSITE OR SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
The term “Affiliate” referred to herein, is an entity that, directly or indirectly, controls, or is under the control of, or is under common control with bizlution, where control means having more than fifty percent (50%) voting stock or other ownership interest or the majority of voting rights of such entity.

</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h2>Contact Info</h2>
          <ul>
            <li>Phone: 125 1254 1245</li>
            <li>Email: demo@gmail.com</li>
            <li>Address: 24 kda New York, US</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Useful link</h2>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Others link</h2>
          <ul>
            <li><a href="#">Rewards club</a></li>
            <li><a href="#">Contact us via app</a></li>
            <li><a href="#">Customer service</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Business</h2>
          <ul>
            <li><a href="#">Partner directory</a></li>
            <li><a href="#">Become a partner</a></li>
            <li><a href="#">Business support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


</html>